// @types
#dialog {
  .content {
    max-width: 100%;
    padding: 10px;
    p {
      word-wrap: break-word;
    }
  }
  .actions {
    min-width: 90%;
    padding: 10px;
    justify-content: space-between;
    .buttonWrapper {
      display: flex;
      justify-content: space-around;
      width: 45%;
      button {
        width: 100%;
      }
    }
  }
}
